[v-cloak] {
    display: none;
}

#content {
    width: 100%;
}

ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

.container-fluid{
    color: #757575;
    font-family: 'Kosugi Maru', sans-serif;
}

/*   header logo */
.header-wrap {
    background-color: #7DC1F6;
    color: #FFFFFF; 
}

.footer-wrap {
    background-color: #7DC1F6;
    color: #FFFFFF;
    font-size: 14px;
}

a {
    color: #757575;
}

a:link, a:visited, a:hover, a:active {
  color: #757575;
  text-decoration: none;
}

.clickable-box {
    position: relative;
}

.clickable-box a {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height:100%;
    width: 100%;
}

.login-button-wrap a{
    font-size: 14px;
    color: #5360F1;
    text-decoration: underline;
}

.login-menu-box {
    font-size: 10px;
}

.top-contents {
    font-size: 15px;
}

.bookmark-title {
    font-weight: bold;
} 

.bookmark-comment {
    font-size: 10px;
}

.mbm-editor {
    font-size: 13px;
}

.card-header {
    background-color: #98A6B5;
}

#contents-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    z-index: 999;
    border-top: ridge 1px #98A6B5;
}

.url-title {
    font-size: 14px;
    font-weight: bold;
}

.url-comment {
    font-size: 12px;
    color: #000000;
}

.url-link a {
    font-size: 12px;
    text-decoration: underline;
    color: red;
}

.url-edit-link a {
    font-size:14px;
    text-decoration: underline;
    color: blue;
}

.url-header {
    background-color: #880000;
    color: white;
}

.dropdown-menu a {
    color: red;
}

.bookmark-card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 0px 2px #555555;
    width: 100%;
}

.bookmark-card-tab {
    width: fit-content;
    background-color: #03ADD1;
    width: 12px;
    border-radius: 8px 0 0 8px;
}

.bookmark-card a {
    text-decoration: none;
}

.bookmark-card-title {
    font-size: 16px;
    background-color: #03ADD1;
    color: white;
    font-style: bold;
    border-radius: 8px 8px 0 0;
}

.home-card-title {
    font-size: 14px;
    background-color: #47B6FD;
    color: white;
    border-radius: 8px 8px 0 0;
    text-align: center;
}

.bookmark-card-title a {
    color: white;
    text-decoration: none;
}

.bookmark-card-title-others a {
    color: white;
    text-decoration: none;
}

.bookmark-card-title-others {
    font-size: 16px;
    background-color: #feca00;
    color: white;
    font-style: bold;
    border-radius: 8px 8px 0 0;
}

.bookmark-card-link {
    font-size: 12px;
    display: block;
}

.bookmark-card-text {
    font-size: 12px;
    color: #707070;
    min-height: 30px;
}

.bookmark-card-icon {
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bookmark-card-footer {
    font-size: 12px;
    color: #707070;
}

#profile-card {
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0px 0px 4px #777777;
    color: #E6EBEE;
    height: 200px;
}

.profile-img {
    display: flex;
    align-items: center;
    background-color: #7DC1F6;
    border-radius: 10px 0 0 10px;
}

.profile-name {
    color: #53A5DB;
    font-size: 18px;
}


.profile-comment {
    color: #707070;
    font-size: 14px;
}

.profile-button {
	padding: 5px 0;
	width: 80px;
	margin: 5px 0;
	border-radius: 25px;
	border: none;
	font-size: 16px;
	font-weight: 300;
	background-color: #4069E2;
    color: #E6EBEE;
}

.submit-button {
	padding: 5px 0;
	width: 300px;
	margin: 5px 0;
	border-radius: 25px;
	border: none;
	font-size: 16px;
	font-weight: 300;
	background-color: #4069E2;
    color: #E6EBEE;
}

.logout-button {
	background-color: #E6EBEE;
    color: #4069E2;
}

.submit-button-middle {
	padding: 5px 0;
	width: 200px;
	margin: 5px 0;
	border-radius: 25px;
	border: none;
	font-size: 16px;
	font-weight: 300;
	background-color: #4069E2;
    color: #E6EBEE;
}

.submit-button-half {
	padding: 5px 0;
	width: 100px;
	margin: 5px 0;
	border-radius: 25px;
	border: none;
	font-size: 16px;
	font-weight: 300;
	background-color: #4069E2;
    color: #E6EBEE;
}

.submit-button-half-cancel {
	padding: 5px 0;
	width: 100px;
	margin: 5px 0;
    border-radius: 25px;
    border: solid 1px #4069E2;
	font-size: 16px;
	font-weight: 300;
	background-color: white;
    color: #4069E2;
}

.submit-button-half-delete {
	padding: 5px 0;
	width: 100px;
	margin: 5px 0;
	border-radius: 25px;
	border: none;
	font-size: 16px;
	font-weight: 300;
	background-color: red;
    color: #E6EBEE;
}

.submit-button-mini {
	width: 40px;
	border-radius: 25px;
	border: none;
	background-color: #4069E2;
    color: #E6EBEE;
}


.function-title {
    color: #60BFFD;
    font-style: bold;
}

.home-card-text {
    font-size: 14px;
}

.edit-header-wrap {
    background-color: #03ADD1;
    color: #FFFFFF; 
    border-radius: 10px 10px 0 0;
}

.mbm-header-wrap {
    background-color:#47B6FD;
    color: #FFFFFF; 
    border-radius: 10px 10px 0 0;
}

.mbm-header-logo {
    border-bottom: solid 1px white;
    background-color: white;
    border-radius: 10px 10px 0 0;
}

.bookmark-wrap-card {
	border-radius: 10px;
    box-shadow: 0px 0px 6px #777777;
}

.bookmark-edit-title {
    font-weight: bold;
    font-size: 20px;
}

.bookmark-edit-comment {
    font-size: 13px;
}

.edit-header-wrap a {
    color: #FFFFFF;
}

.program-title {
    width: 70%;
}

.program-img {
    width:30%;
    max-width:150px;
}

.edit-button {
	width: 60px;
    border-radius: 10px;
    border: solid 1px #03add1;
	font-size: 12px;
	font-style: bold;
	background-color: white;
    color: #03add1;
}

.delete-button {
	width: 60px;
    border-radius: 10px;
    border: solid 1px red;
	font-size: 12px;
	font-style: bold;
	background-color: white;
    color: red;
}

.edit-contents {
    border-bottom: dotted 1px #03add1 
}

.register-text a {
    font-size: 14px;
    color: #5360F1;
}

.twitter-login-button {
   background-color: #1DA1F2;
   color: white; 
}

.google-login-button {
    background-color: #df4f38;
}

.modal-input {
    display: block;
    width: 100%;
        padding: .375rem .75rem;
        font-size: 14px;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.modal-label {
    font-size: 12px;
}

.search-guide {
    font-size: 12px;
}

.search-form {
    max-width: 250px;
}

.sns-button-wrap {
    height: 20px;
    width: 75px;
}

.privacy-policy {
    font-size: 12px;
}

.privacy-policy a {
    color: red;
    background-color: white;
    text-decoration: underline;
}

.footer-wrap a {
    color: white;
}

.privacy-policy a {
    color: #494949;
}
.subtitle {
  color: #494949;/*文字色*/
  background: #fffaf4;/*背景色*/
  border-left: solid 5px #ffaf58;/*左線（実線 太さ 色）*/
}

.edit-header-wrap a {
    color: white;
}

.bookmark-card-title a {
    color: white;
}

.login-link a {
    color: #4069E2;
}

.fa-twitter {
    color: #00ACEE;
}

.my-link a {
    font-size: 20px;
    color: #4069E2;
}