#content {
    width: 100%;
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

.container-fluid{
    color: #757575;
    font-family: 'Kosugi Maru', sans-serif;
}

/*   header logo */
.header-wrap {
    background-color: #7DC1F6;
    color: #FFFFFF;
    font-family: 'Rowdies', cursive;
    font-size: 20px;
}

.footer-wrap {
    background-color: #7DC1F6;
    color: #FFFFFF;
    font-size: 14px;
}

a {
    color: #757575;
}

a:link, a:visited, a:hover, a:active {
  color: #757575;
  text-decoration: none;
}

.clickable-box {
    position: relative;
}

.clickable-box a {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height:100%;
    width: 100%;
}

.login-menu-box {
    font-size: 10px;
}

.top-contents {
    font-size: 15px;
}

.bookmark-title {
    font-weight: bold;
} 

.bookmark-edit-title {
    font-weight: bold;
    font-size: 18px;
}

.bookmark-comment {
    font-size: 10px;
}

.card-header {
    background-color: #98A6B5;
}

.bookmark-edit-comment {
    font-size: 12px;
}

#contents-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    z-index: 999;
    border-top: ridge 1px #98A6B5;
}

.url-title {
    font-size: 14px;
    font-weight: bold;
}

.url-comment {
    font-size: 12px;
}

.url-link {
    font-size: 12px;
    text-decoration: solid;
}

.url-header {
    background-color: #880000;
    color: white;
}